html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.nav-logo {
    height: 50px;
    width: auto;
}

.nav-logo:hover {
    transform: scale(1.1);

}

.nav-link {
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

.nav-link:hover {
    transform: scale(1.3);
    color: #ffc107;
}


.navbar .nav-link {
    margin-left: 30px;
}


@media (max-width: 991px) {
    .navbar-nav {

        justify-content: center;

        text-align: center;

    }
}


.hero-section {
    background: url(hero.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 70vh;
}

.hero-content {
    height: 100%;
    display: flex;
    justify-content: center;

    align-items: center;

    flex-direction: column;
    text-align: center;
    color: white;
}

.meno {
    font-size: 60px;
    color: #ffc107
}

h2 {
    font-size: 40px;

}

h3 {
    font-size: 25px;
    color: #ffc107;
}

.slogan {
    font-size: 20px;
    font-style: italic;
}

.btn:hover {
    transform: scale(1.3);
}

.btn-odoslat:hover {
    transform: scale(1.1)
}